@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

main {
    background-color: #ead2dc !important;
}

body, ul {
    margin: 0px;
    padding: 0px;
}

/* Navbar */

#menu a, #header a {
    color: #ef15af;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
}
  
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #e9a7c4;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu li{
    margin: 40px;
    font-size: 18px;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 768px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7c1d2;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #714e36;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid #ef15af;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: #ef15af;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* inicio */

.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    padding-top: 60px;
}

.inicio-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.inicio-logo img {
    width: 250px;
    height: 250px;
}

.inicio-redes li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 15px;
}

.inicio-redes .fa {
    font-size: 20px;
    width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
    justify-content: center;
    color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.inicio-redes .fa:hover, .inicio-redes .fa:active {
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}

.inicio-redes .fa-whatsapp {
    background-color: #28d368;
}

.inicio-redes .fa-facebook {
    background-color: #3c5a9b;
}

.inicio-redes .fa-instagram {
    background-color: #c0328c;
}

.inicio-texto {
    width: 40vw;
    text-align: center;
    color: #0395de;
    display: flex;
    flex-direction: column;
}

.inicio-texto h2 {
    font-weight: 600;
}

.inicio-texto button {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    margin-top: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #7e5b43;
    background: #58c5e3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0395de;
}

@media (max-width: 480px) {
    .inicio {
        height: 60vh !important;
        flex-direction: column;
    }
    .inicio-logo {
        margin-top: -2% !important;
    }
    .inicio-logo img {
        width: 100px;
        height: 100px;
    }
    .inicio-texto {
        width: 90vw;
        text-align: center;
        color: #0395de;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .inicio-texto h2 {
        font-size: 15px;
    }
    .inicio-texto button {
        margin: 0px;
        margin-top: 20px;
        padding: 6px 0px;
        letter-spacing: 3px;
        color: #7e5b43;
        width: 100%;
    }
}

@media (max-width: 999px) {
    .inicio {
        height: 32vh;
        flex-direction: column;
    }
    .inicio-logo img {
        width: 100px;
        height: 100px;
    }
    .inicio-texto {
        margin-bottom: 30px;
        text-align: center;
        justify-content: center;
        width: 80vw;
        font-size: 8px;
    }
    .inicio-texto button {
        margin: 0px;
        margin-top: 20px;
        padding: 6px 0px;
        letter-spacing: 3px;
        color: #7e5b43;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .inicio {
        height: 40vh;
        flex-direction: column;
    }
    .inicio-logo {
        margin-top: 20%;
    }
    .inicio-logo img {
        width: 100px;
        height: 100px;
    }
    .inicio-texto {
        width: 90vw;
        text-align: center;
        color: #0395de;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
    .inicio-texto h2 {
        font-size: 15px;
    }
    .inicio-texto button {
        margin: 0px;
        margin-top: 20px;
        padding: 6px 0px;
        letter-spacing: 3px;
        color: #7e5b43;
        width: 100%;
    }
}

/* RECENTES */

.recentes {
    margin-top: -2%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recentes h1{
    font-weight: bold;
    font-size: 30px;
    color: #0395de;
    margin-bottom: 30px;
}

.recentes-imagens, .recentes-imagens img {
    height: 350px;
    width: 90vw;
}

.recentes-imagens img {
    border-radius: 20px;
    width: 100%;
}

.recentes-imagens .slick-slide > div {
    transform: scale(.8);
    transition: transform .3s cubic-bezier(.1,0,.2,1);
  }

.recentes-imagens .slick-center > div {
    transform: scale(1);
}

/* .portfolio-imagens > img {
    width: 100%;
    height: auto;
} */

@media (max-width: 1200px) {
    .recentes-imagens, .recentes-imagens img {
        height: 582px;
    }
}
@media (max-width: 991px) {
    .recentes-imagens, .recentes-imagens img {
        height: 482px;
    }
}
@media (max-width: 768px) {
    .recentes {
        margin-top: -150px;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .recentes-imagens, .recentes-imagens img {
        margin-top: 15px;
        height: 210px !important;
    }
}
@media (max-width: 480px) {
    .recentes {
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .recentes-imagens, .recentes-imagens img {
        margin-top: 30px;
        height: 140px;
    }
}

/* SOBRE */

.sobre {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.sobre-linha {
    display: flex;
}

.sobre-texto {
    width: 60vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre h1{
    text-align: center;
    color: #0395de;
    font-size: 27px;
    font-weight: 800;
}

.sobre-texto p{
    margin-bottom: 20%;
    text-align: justify;
    color: #0395de;
    font-size: 21px;
    font-weight: 800;
}

.sobre-foto {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-foto img {
    border-radius: 200px;
}

@media (max-width: 768px) {
    .sobre {
        margin-top: -50% !important;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .sobre-linha {
        flex-direction: column-reverse;
        align-items: center;
    }
    .sobre-foto img{
        margin-top: 40px;
        height: 250px;
    }
    .sobre-texto {
        width: 90vw;
        height: 25vh;
        margin-top: 120px;
    }
    .sobre-texto h1{
        font-size: 24px;
    }
    
    .sobre-texto p{
        margin-top: 5%;
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .sobre {
        width: 98vw;
        margin-top: -35%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 150vh;
    }
    .sobre-linha {
        flex-direction: column-reverse;
        align-items: center;
    }
    .sobre-foto img{
        margin-top: 40px;
        height: 250px;
    }
    .sobre-texto {
        width: 90vw;
        height: 25vh;
        margin-top: 150px;
    }
    .sobre-texto h1{
        font-size: 20px;
    }
    
    .sobre-texto p{
        margin-top: 5%;
        font-size: 18px;
    }
}

/* PORTFÓLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -60px;
}

.portfolio h1 {
    color: #0395de;
    font-size: 30px;
    margin-bottom: 15%;
    font-weight: 800;
}

.portfolio-imagens, .portfolio-imagens img {
    height: 580px;
    width: 74vw;
    border-radius: 20px;
}

.portfolio-imagens img {
    width: 100%;
}

.portfolio-imagens .slick-slide > div {
    transition: transform 20s cubic-bezier(2,4);
  }

@media (max-width: 1200px) {
    .portfolio-imagens, .portfolio-imagens img {
        height: 582px;
    }
}
@media (max-width: 991px) {
    .portfolio-imagens, .portfolio-imagens img {
        height: 482px;
    }
}
@media (max-width: 768px) {
    .portfolio-imagens, .portfolio-imagens img {
        height: 250px !important;
        width: 90vw;
        margin-top: 20px;
    }
    .portfolio {
        margin-top: -170px;
        height: 75vh;
    }
    .portfolio-texto {
        width: 90vw;
    }
    .portfolio-texto h1 {
        text-align: center;
        font-size: 27px;
    }
}
@media (max-width: 480px) {
    .portfolio-imagens, .portfolio-imagens img {
        height: 350px;
        width: 90vw;
    }
    .portfolio {
        height: 75vh;
    }
    .portfolio-texto {
        width: 90vw;
    }
    .portfolio-texto h1 {
        text-align: center;
        font-size: 27px;
    }
}

/* TESTE */

.portfolio-botoes {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: left;
}

.portfolio-botoes button {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    margin-top: 30px;
    margin-bottom: -20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #7e5b43;
    background: #58c5e3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0395de;
}

/* RODAPÉ */
    
footer {
    background-color: #f0b4d2;
    padding: 50px 0;
}

.rodape {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-links, .rodape-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.rodape-links ul li {
    list-style: none;
    align-items: center;
    background-color: #eca1d8;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    width: 6vw;
    font-weight: 600;
    color: #ef15af;
    cursor: pointer;
}

.rodape-links h4, .rodape-contato h4 {
    font-size: 22px;
    color: #ee15b3;
    margin-bottom: 20px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
}

.rodape-contato button {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 10%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #7e5b43;
    background: #58c5e3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0395de;
} 

@media (max-width: 767px) {
    .rodape {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rodape-links, .rodape-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }
    .rodape-links ul li {
        list-style: none;
        align-items: center;
        background-color: #eca1d8;
        text-align: center;
        font-size: 20px;
        width: 30vw;
    }
    .rodape-links h4, .rodape-contato h4 {
        font-size: 22px;
        color: #ee15b3;
        margin-bottom: 20px;
        font-weight: 800;
        text-transform: uppercase;
        width: 100vw;
        text-align: center;
    }
    .rodape-contato button {
        padding: 16px 30px;
        margin-bottom: 12%;
        margin-top: 10%;
    } 
}

/* TESTE */

#modal-footer button {
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #7e5b43;
    background: #58c5e3;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0395de;
}



